{namespace MacroBrowser.StringFields}

/**
 * Container for a text input 
 */
{template .text}
    <div class="macro-param-div">
        <label></label>
        <input type="text" class="text macro-param-input"></input>
    </div>
{/template}

/**
 * Container for a text area input
 */
{template .textarea}
    <div class="macro-param-div">
        <label></label>
        <textarea class="textarea macro-param-input" rows="10" cols="29"></textarea>
    </div>
{/template}
